# Created by https://www.gitignore.io/api/visualstudiocode
# Edit at https://www.gitignore.io/?templates=visualstudiocode

jlebiedzinski_269096.aux
jlebiedzinski_269096.log
jlebiedzinski_269096.tex
jlebiedzinski_269096.lol
jlebiedzinski_269096.synctex.gz

### VisualStudioCode ###
.vscode/*

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history

# End of https://www.gitignore.io/api/visualstudiocode